*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Node
node_modules/
dist/
lib/
*.tsbuildinfo
.npm-global/

# Playwright
/test-results/
/playwright-report/
/e2e/report/
/e2e/.cache/
/blob-report/
